<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Testing load-on-startup</display-name>
  <servlet>
    <servlet-name>testingLoadOnStartup1</servlet-name>
    <servlet-class>TestingLoadOnStartup</servlet-class>
    <init-param>
    	<param-name>
    	 Servlet_INIT_PARAM_NAME
    	</param-name>
    	<param-value>
    	 Servlet_INIT_PARAM_VALUE
    	</param-value>
    </init-param> 
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>testingLoadOnStartup1</servlet-name>
    <url-pattern>/loadOnStartup1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>testingLoadOnStartup2</servlet-name>
    <servlet-class>TestingLoadOnStartup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>testingLoadOnStartup2</servlet-name>
    <url-pattern>/loadOnStartup2</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>Servlet_CONTEXT_PARAM_password</param-name>
  	<param-value>Servlet_CONTEXT_PARAM_easytoguess</param-value>
  </context-param>

  <context-param>
  	<param-name>Servlet_CONTEXT_PARAM_username</param-name>
  	<param-value>Servlet_CONTEXT_PARAM_root</param-value>
  </context-param>
    	 	
</web-app>